# ignore the .env file
.env

# ignore the data folder
/data

# ignore the environment folder
.venv

# ignore the mediapipe testing folder
test_mediapipe.py

.idea

models/blink_model/blink_classifier.pkl
models/fusion_model/risk_model.pkl
models/retina_model/retinopathy_cnn.h5
models/face_landmarker.task